
# Data Handling
pandas
numpy
Pillow
pyyaml
python-dotenv
psycopg2-binary

# CVAT Integration
requests

# Training
numpy<2
opencv-python-headless<4.10
ultralytics
torch

# Airflow Providers (if needed externally, though image has them)
apache-airflow-providers-postgres
